.header{
    position: relative;
    padding: 20px;
    @include flex-center;
    box-shadow: 0px 3px 5px darken($grey, 10%);
    @include desktop-only{
        width: $bloc-page;
        @include margin-sides;
        margin-top: 20px;
        margin-bottom: 20px;

        border-radius: 15px;
        // box-shadow: none;
        // justify-content: flex-start;
        padding: 40px;
    }
    &__logo{
        height: 30px;
        @include desktop-only{
            height: 35px;
        }
    }
    &--pages{
        position: absolute;
        left: 0px;
        padding: 20px;
        font-size: 20px;
        @include desktop-only{
            font-size: 25px;
        }
    
    }
}



