.restaurants__tuile{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 30px;
    @include box-shadow;
    @include tablette-only{
        width: 44%;
        margin: 20px
    }
    @include desktop-only{
        width: 440px;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    &__img{
        position: absolute;
        object-fit: cover;
        height: 75%;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    &__legende{
        position: absolute;
        bottom: 0px;
        height: 25%;
        width: 100%;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        &__icon{
            display: flex;
            align-self: center;
            font-size: 25px;
        }           
        
    }
    &--new{
        position: absolute;
        right: 0px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        padding: 5px 10px;
        font-size: 15px;
        margin: 20px;

    }
}


.menu__tuile{
    // position: relative;
    background-color: white;
    @include box-shadow;
    height: 80px;
    border-radius: 15px;
    margin: 0px 20px 15px 20px;
    display: flex;
    // overflow: hidden;
    @include desktop-only{
        // margin: 0;
    }


    &__text{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;

        &__name{
            width: 100%;
            h4{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
        &__price{
            max-width: 20%;
            align-self: flex-end;
            text-align: right;
        }
        &:hover{
            width: 100%;
            transition: width 200ms;
            & + .menu__tuile__selected{
            width: 100px;
            transition: transform 2s, width 200ms;
            & i{
                color: white;
                font-size: 25px;
                transform: rotate(1turn);
                transition: transform 500ms 50ms;
                visibility: visible;
            }
            }

        }    
    }
    &__selected{
        
        height: 80px;
        @include flex-center;
        border-radius: 0px 15px 15px 0px;
        background-color: $color-tertiary;
        width: 0;
        & i{
            content: "\f058";
            font-family: "font awesome 5 free";
            font-weight: bold;
            transform: rotate(0turn);
            color: white;
            font-size: 25px;
            visibility: hidden;
        }
        // &__icon{
        //             // visibility: hidden;
        //             color: red;
        //             font-size: 20px;
        //             transform: rotate(0turn);
        // }
        &:hover{
            width: 100px;
            transition: transform 2s, width 200ms;
            &::after{
                transform: rotate(1turn);
                transition: transform 500ms 50ms;
                visibility: visible;
            }
        }
    }

}
    // &__name{
    //     padding: 20px;
    //     width: 60%;
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
        
    // }
    // &__prix{
    //     width: 20%;
    //     padding: 20px;
    //     align-self: flex-end;
    //     text-align: right;
    // }
    // &__selected{
    //     // display: none;
    //     position: absolute;
    //     right: 0;
    //     @include flex-center;
    //     border-radius: 0px 15px 15px 0px;
    //     width: 0%;
    //     height: 80px;
    //     // transform-origin: right;
    //     background-color: $color-tertiary;
    //     &__icon{
    //         visibility: hidden;
    //         color: red;
    //         font-size: 20px;
    //         transform: rotate(0turn);
    //     }
    // }
    // &__prix:hover + &__selected{
    //     width: 20%;
    // }
            // &::after{
            //     content: "\f058";
            //     font-family: "font awesome 5 free";
            //     color: red;
            //     font-size: 25px;
            //     font-weight: bold;
            //     transform: rotate(0turn)
            // }

    
   














    // page 1

    // &__txt{
    //     height: 100%;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     &__name{
    //         padding: 20px;
    //         flex-direction: column;
    //         white-space: nowrap;
    //         text-overflow: ellipsis;
    //         background-color: red;
    //         overflow: hidden;
    //     }
    //     &__prix{
    //         text-align: center;
    //         align-self: flex-end;
    //         background-color: aqua;
    //         height: 100%;
    //         display: flex;
            
    //         p{
    //             width: 80px;
    //         }
            
    //     }
    //     &__selected{

    //         @include flex-center;
    //         border-radius: 0px 15px 15px 0px;
    //         appearance: none;
    //         width: 80px;
    //         height: 100%;
    //         transform:  translateX(80px) scale(0, 1);
    //         transform-origin: right;
    //         &::after{
    //             content: "\f058";
    //             font-family: "font awesome 5 free";
    //             color: white;
    //             font-size: 25px;
    //             font-weight: bold;
    //             transform: rotate(0turn)
    //         }
    //         &:checked{
    //             background-color: $color-tertiary;
    //             transform: translateX(0) scale(1, 1);
    //             transition: all 500ms;
    //             &::after{
    //                 transform: rotate(2turn);
    //                 transition: transform 500ms 100ms;
    //             }
    //             & ~ p{
    //                 transform: translateX(-160px);
    //                 transition: all 1s;
    //             }

    //         }
        
    //     }

    // }
// }






// page2
// .menu__tuile{
//     display: flex;
//     &__1{
//         padding: 20px;
//         min-width: 50%;
//         white-space: nowrap;
//         text-overflow: ellipsis;

//     }
//     &__2{
//         width: 160px;
//         display: flex;
//         transform: translateX(80px);
        
//         &__price{
//             width: 80px;
//             align-self: flex-end;
//             padding-bottom: 20px;
//         }
//         &__selected{
//             @include flex-center;
//             border-radius: 0px 15px 15px 0px;
//             appearance: none;
//             width: 80px;
//             // background-color: $color-tertiary;
//             height: 100%;
//             transform:  translateX(80px) scale(0, 1);
//             transform-origin: right;
//             &::after{
//                 content: "\f058";
//                 font-family: "font awesome 5 free";
//                 color: white;
//                 font-size: 25px;
//                 font-weight: bold;
//                 transform: rotate(0turn)
//             }
//             &:checked{
//                 background-color: $color-tertiary;
//                 transform: translateX(0) scale(1, 1);
//                 transition: all 500ms backwards;
//                 &::after{
//                     transform: rotate(2turn);
//                     transition: transform 500ms 100ms;
//                 }
//             }
//         }
//     }
// }

// page3
// .menu__tuile{
//     display: flex;
//     &__name{
//         width: 300px;
//         padding: 20px;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//     }
//     &__prix{
//         display: flex;
//         justify-content: flex-end;
//         align-items: flex-end;
//         width: 80px;
//         height: 80px;
//         padding: 20px;
//         transform: translateX(80px);
//     }
//     &__selected{
//         width: 80px;
//         height: 80px;
//         border-radius: 0px 15px 15px 0px;
//         background-color: $color-tertiary;
//         @include flex-center;
//         transform: translateX(80px);
//         &::after{
//         content: "\f058";
//         font-family: "font awesome 5 free";
//         color: white;
//         font-size: 25px;
//         font-weight: bold;
//         transform: rotate(0turn);
//         }
//     }
//     &:hover + .menu__tuile__prix{
//         transform: translateX(0px);
//         transition: transform 200ms;
//     }
// }

