.restaurants__tuile{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 30px;
    @include box-shadow;
    @include tablette-only{
        width: 44%;
        margin: 20px
    }
    @include desktop-only{
        width: 440px;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    &__img{
        position: absolute;
        object-fit: cover;
        height: 75%;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    &__legende{
        position: absolute;
        bottom: 0px;
        height: 25%;
        width: 100%;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        &__txt{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__icon{
            display: flex;
            align-self: center;
            font-size: 25px;
        }           
        
    }
    &--new{
        position: absolute;
        right: 0px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        padding: 5px 10px;
        font-size: 15px;
        margin: 20px;

    }
}
     

.menu__tuile{
    // position: relative;
    background-color: white;
    @include box-shadow;
    height: 80px;
    border-radius: 15px;
    margin: 0px 20px 15px 20px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    min-width: 300px;



    &__text{
        width: 100%;
        min-width: 200px;
        display: flex;
        justify-content: space-between;
        

        &__name{
            padding: 20px 15px;
            // width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            justify-content: space-between;
            h4{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
        &__price{
            padding: 20px 0;
            margin-right: 20px;
            width: 30px;
            align-self: flex-end;
            text-align: right;
            // padding-left: 20px;
        }
        &:hover{
            width: 100%;
            transition: width 200ms;
            & + .menu__tuile__selected{
            width: 100px;
            transition: transform 2s, width 200ms;
                & i{
                    transform: rotate(1turn);
                    transition: transform 500ms 50ms;
                    visibility: visible;
                }
            }      
        }
    }

    &__selected{
        height: 80px;
        @include flex-center;
        border-radius: 0px 15px 15px 0px;
        background-color: $color-tertiary;
        width: 0;
        & i{
            transform: rotate(0turn);
            color: white;
            font-size: 25px;
            visibility: hidden;
        }
        &:hover{
            width: 100px;
            transition: transform 2s, width 200ms;
            & i{
                transform: rotate(1turn);
                transition: transform 500ms 50ms;
                visibility: visible;
            }
        }
    }
}
    