$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;

$grey : #F2F2F2;
$white : white;

$gradient: linear-gradient(to top, $color-primary, $color-secondary);
$lighter-gradient: linear-gradient(to top, lighten($color-primary, 3%), lighten($color-secondary, 3%));

$apparition-delay : 300ms;


$breakpoints: (
    mobile-max: 767px,
    tablette-min: 768px,
    tablette-max: 1000px,
    desktop-min: 1001px,
    fonctionnement: 830px,
);

$bloc-page: 1000px;





