@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h5, .cover__titre__nom {
    font-family: 'Shrikhand', cursive;
}

h3{
    font-weight: normal;
}

.menu__tuile__text__price{
    font-weight: bold;
}